<a href="https://colab.research.google.com/github/SatyaSingh08/Project1/blob/master/Copy_of_U1W1_02_Introduction_to_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint
### Not For Grading

## Learning Objective



At the end of this experiment, you will be able to :

* Use Pandas Library

## Dataset

### Description

The dataset choosen for this exercise is an employee dataset. The dataset contains the following information regarding a particular employee:

* Emp ID
* Name Prefix
* First Name
* Middle Initial
* Last Name
* Gender 
* E Mail
* Father's Name
* Mother's Name
* Mother's Maiden Name
* Date of Birth
* Time of Birth
* Age in Yrs
*  Weight in Kgs
* Date of Joining
* Quarter of Joining
* Half of Joining 
* Year of Joining
* Month of Joining
* Month Name of Joining
* Short Month
* Day of Joining
* DOW of Joining
* Short DOW
* Age in Company (Years)
* Salary
* Last % Hike
* SSN
* Phone No
* Place Name
* CountyCity,
* State
* Zip
* Region
* User Name
* Password

### Setup Steps

In [96]:
#@title Please enter your registration id to start: { run: "auto", display-mode: "form" }
Id = "2200718" #@param {type:"string"}

In [97]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "7717740929" #@param {type:"string"}

In [98]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()
  
notebook= "U1W1_02_Introduction_to_Pandas_1" #name of the notebook
Answer = "Ungraded"

def setup():
    ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/Employee.csv")
    #ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/Large_employee.csv")
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None

    elif getAnswer() and getComplexity() and getAdditional() and getConcepts():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "feedback_experiments_input" : Comments, "notebook" : notebook}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:        
        print(r["err"])
        return None   
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions")
        # print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
      return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if not Additional: 
      raise NameError
    else:
      return Additional  
  except NameError:
    print ("Please answer Additional Question")
    return None
def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None

def getAnswer():
  try:
    if not Answer:
      raise NameError 
    else: 
      return Answer
  except NameError:
    print ("Please answer Question")
    return None

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup()
    
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

## Exercise 1

### 1. Load the dataset with index as 'Emp Id'

In [99]:
import pandas as pd

In [100]:
dataset = pd.read_csv("Employee.csv")
# YOUR CODE HERE

In [101]:
dataset.columns

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

In [102]:
dataset.set_index("Emp ID", inplace=True)

### 2. Display the first 5 entries of the dataset

In [103]:
# YOUR CODE HERE
dataset.head()

,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Date of Birth,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
Emp ID,,,,,,,,,,,,,,,,,,,,,
677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,3/29/1981,...,467-99-4677,303-572-8492,Denver,Denver,Denver,CO,80224,West,lhwalker,DCa}.T}X:v?NP
940761,Ms.,Brenda,S,Robinson,F,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry,7/31/1970,...,537-71-4566,225-945-4954,Stonewall,De Soto,Stonewall,LA,71078,South,bsrobinson,TCo\j#Zg;SQ~o
428945,Dr.,Joe,W,Robinson,M,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor,6/16/1963,...,025-92-3584,219-904-2161,Michigantown,Clinton,Michigantown,IN,46057,Midwest,jwrobinson,GO4$J8MiEh[A
408351,Drs.,Diane,I,Evans,F,diane.evans@yahoo.com,Jason Evans,Michelle Evans,Allen,12/4/1977,...,314-35-9851,215-793-6791,Hydetown,Crawford,Hydetown,PA,16328,Northeast,dievans,0gGRtp1HfL<r5
193819,Mr.,Benjamin,R,Russell,M,benjamin.russell@charter.net,Gregory Russell,Elizabeth Russell,Nelson,4/17/1977,...,121-98-7248,262-404-2252,Fremont,Waupaca,Fremont,WI,54940,Midwest,brrussell,Rd<Y8cp!@R;*%F

### 3. How many  records are there in the dataset?

In [104]:
# YOUR CODE HERE
dataset.shape

(100, 36)

### 4. How many columns are there in the dataset?

In [105]:
# YOUR CODE HERE
len(dataset.columns)

36

### 5. Print the name of all the columns in the dataset

In [106]:
# YOUR CODE HERE
columns = dataset.columns

### 6. What is  the name of the 20th column ?

In [107]:
# YOUR CODE HERE
columns[19]

'Short Month'

### 7. What is  the datatype of each column in the dataset?

In [108]:
# YOUR CODE HERE
dataset.dtypes

Name Prefix                object
First Name                 object
Middle Initial             object
Last Name                  object
Gender                     object
E Mail                     object
Father's Name              object
Mother's Name              object
Mother's Maiden Name       object
Date of Birth              object
Time of Birth              object
Age in Yrs.               float64
Weight in Kgs.              int64
Date of Joining            object
Quarter of Joining         object
Half of Joining            object
Year of Joining             int64
Month of Joining            int64
Month Name of Joining      object
Short Month                object
Day of Joining              int64
DOW of Joining             object
Short DOW                  object
Age in Company (Years)    float64
Salary                      int64
Last % Hike                object
SSN                        object
Phone No.                  object
Place Name                 object
County                     object
City                       object
State                      object
Zip                         int64
Region                     object
User Name                  object
Password                   object
dtype: object

### 8. Display the columns from 5 to 9 and rows 1 to 3 of the dataset

In [109]:
# YOUR CODE HERE
dataset.iloc[1:3, 5:9]

,E Mail,Father's Name,Mother's Name,Mother's Maiden Name
Emp ID,,,,
940761,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry
428945,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor

### 9. Display all the rows after 50th row of the dataset

In [110]:
# YOUR CODE HERE
dataset.iloc[50:]

,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Date of Birth,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
Emp ID,,,,,,,,,,,,,,,,,,,,,
958326,Mr.,Larry,T,Miller,M,larry.miller@shell.com,Russell Miller,Mildred Miller,Ward,10/31/1988,...,207-84-9482,217-574-9283,East Saint Louis,St. Clair,East Saint Louis,IL,62201,Midwest,ltmiller,2WgF#:ew**x#
447813,Mrs.,Ann,Q,Coleman,F,ann.coleman@ibm.com,Harold Coleman,Tina Coleman,Walker,5/11/1989,...,027-92-0557,319-994-4179,Hancock,Pottawattamie,Hancock,IA,51536,Midwest,aqcoleman,g2]GlvlL5
525955,Drs.,Judy,C,Gonzales,F,judy.gonzales@gmail.com,Kevin Gonzales,Sharon Gonzales,Perez,6/17/1959,...,029-92-2155,201-640-8645,Eatontown,Monmouth,Eatontown,NJ,7724,Northeast,jcgonzales,yDl}pfaWs{Hro6
818384,Mr.,Peter,X,Washington,M,peter.washington@bp.com,Douglas Washington,Jean Washington,Henderson,11/6/1982,...,039-74-8867,231-322-0316,Portage,Kalamazoo,Portage,MI,49024,Midwest,pxwashington,97%d^2rk41!E>*Q
971640,Prof.,Clarence,A,Ross,M,clarence.ross@apple.com,Arthur Ross,Louise Ross,Washington,12/13/1960,...,372-37-5315,423-772-0118,Oneida,Scott,Oneida,TN,37841,South,caross,h&jmac@+QD?B
253573,Ms.,Sharon,E,Lopez,F,sharon.lopez@gmail.com,Daniel Lopez,Susan Lopez,Hayes,5/4/1991,...,064-02-2589,304-934-5548,Bartley,McDowell,Bartley,WV,24813,South,selopez,GsP~S?FYY
904898,Drs.,Ann,Q,Cooper,F,ann.cooper@exxonmobil.com,Harold Cooper,Mildred Cooper,Williams,12/25/1992,...,219-89-6310,406-278-6460,Arlee,Lake,Arlee,MT,59821,West,aqcooper,i_^#>]tFpt
515103,Ms.,Anne,A,Perez,F,anne.perez@sbcglobal.net,Douglas Perez,Doris Perez,Bailey,5/5/1958,...,594-99-9091,423-837-3338,Cookeville,Putnam,Cookeville,TN,38505,South,aaperez,y;n9A#}b
491943,Mrs.,Nancy,P,Howard,F,nancy.howard@gmail.com,Gregory Howard,Mildred Howard,Flores,5/5/1961,...,035-74-2732,236-973-8086,Saxe,Charlotte,Saxe,VA,23967,South,nphoward,OC\&tG&?c
750173,Mr.,Antonio,R,Roberts,M,antonio.roberts@hotmail.com,Timothy Roberts,Diana Roberts,Rodriguez,8/27/1995,...,281-15-7944,205-267-7304,Mc Calla,Jefferson,Mc Calla,AL,35111,South,arroberts,h>.g!B:VcNN
687017,Ms.,Frances,P,Watson,F,frances.watson@outlook.com,Adam Watson,Diana Watson,Jones,1/30/1961,...,305-37-1946,406-530-8069,Trego,Lincoln,Trego,MT,59934,West,fpwatson,rjV1$at!wq53a$
241882,Ms.,Debra,G,Wood,F,debra.wood@hotmail.com,Martin Wood,Theresa Wood,Perry,10/30/1969,...,342-11-6695,308-646-6219,Blair,Washington,Blair,NE,68009,Midwest,dgwood,iO8B@*yA*mG6b9o
758872,Mr.,Henry,Y,Jenkins,M,henry.jenkins@hotmail.com,Albert Jenkins,Beverly Jenkins,Murphy,11/6/1984,...,499-29-3125,314-731-7135,Riverside,Platte,Riverside,MO,64150,Midwest,hyjenkins,zPnRU5Bo
940922,Hon.,Melissa,X,Butler,F,melissa.butler@hotmail.com,Robert Butler,Anne Butler,Jackson,11/14/1994,...,301-15-9149,308-827-9016,Maxwell,Lincoln,Maxwell,NE,69151,Midwest,mxbutler,hY3BqUR>6F
917937,Mr.,Todd,H,Hall,M,todd.hall@yahoo.com,Thomas Hall,Kathleen Hall,Morgan,8/31/1991,...,633-31-1781,240-513-8668,Randallstown,Baltimore,Randallstown,MD,21133,South,thhall,Lgdb8q<0L@-/
917395,Hon.,Christopher,D,Nelson,M,christopher.nelson@aol.com,Jeffrey Nelson,Cynthia Nelson,Sanders,3/29/1960,...,120-98-6155,480-946-9780,Willow Beach,Mohave,Willow Beach,AZ,86445,West,cdnelson,QKae{1EP1A[SeX
183071,Drs.,Andrea,P,Garcia,F,andrea.garcia@aol.com,Mark Garcia,Nicole Garcia,Howard,7/6/1985,...,213-91-6792,219-624-3708,Granger,St. Joseph,Granger,IN,46530,Midwest,apgarcia,eI!^kXR]Q^V+
316110,Mr.,Jeremy,I,Sanchez,M,jeremy.sanchez@hotmail.com,Albert Sanchez,Patricia Sanchez,Ross,2/5/1965,...,474-55-8883,423-974-2755,Alcoa,Blount,Alcoa,TN,37701,South,jisanchez,Yg#Z+:CDwDV<*xZ
293459,Mr.,Steven,J,Phillips,M,steven.phillips@hotmail.com,Jason Phillips,Gloria Phillips,Lewis,9/12/1986,...,578-53-9940,225-968-5952,Baton Rouge,East Baton Rouge,Baton Rouge,LA,70833,South,sjphillips,ht}X55$P&g1
732017,Ms.,Cynthia,J,Ramirez,F,cynthia.ramirez@btinternet.com,Walter Ramirez,Evelyn Ramirez,Smith,9/22/1982,...,355-08-4606,406-961-7340,Browning,Glacier,Browning,MT,59417,West,cjramirez,qP-#AhuNuz*Wb]
915638,Dr.,Jason,W,Anderson,M,jason.anderson@gmail.com,Brandon Anderson,Julia Anderson,Baker,1/3/1974,...,048-15-7937,217-856-6752,Hudson,McLean,Hudson,IL,61748,Midwest,jwanderson,a3Hlk+.V/TjD
478003,Hon.,Cynthia,X,White,F,cynthia.white@gmail.com,Nicholas White,Katherine White,Turner,6/15/1963,...,364-39-4983,314-593-3092,Kansas City,Jackson,Kansas City,MO,64133,Midwest,cxwhite,mofyGR>.?Dwb4!
951225,Ms.,Margaret,N,Brooks,F,margaret.brooks@gmail.com,Johnny Brooks,Debra Brooks,Robinson,6/27/1992,...,057-02-6958,303-960-0117,Haswell,Kiowa,Haswell,CO,81045,West,mnbrooks,0*2k8uW&:{i{
883936,Mr.,Douglas,I,Flores,M,douglas.flores@gmail.com,Justin Flores,Kathy Flores,Ramirez,4/21/1986,...,324-11-6837,303-836-4721,Eckert,Delta,Eckert,CO,81418,West,diflores,9||FLq|0tU|9>v
528673,Hon.,Paul,V,Watson,M,paul.watson@hotmail.com,Carl Watson,Anna Watson,Bennett,3/9/1959,...,286-15-9671,270-556-7711,Blue River,Floyd,Blue River,KY,41607,South,pvwatson,7q{iHhbgWZ7%
765850,Mrs.,Linda,R,Moore,F,linda.moore@gmail.com,Howard Moore,Diana Moore,Smith,8/18/1991,...,286-15-5442,215-793-7095,Albion,Erie,Albion,PA,16401,Northeast,lrmoore,0jj}jl_r/VmJ;
262382,Ms.,Cheryl,O,Miller,F,cheryl.miller@ntlworld.com,Gerald Miller,Christine Miller,Mitchell,4/20/1985,...,287-15-4772,270-880-3858,Bays,Breathitt,Bays,KY,41310,South,comiller,Nr-t/.^cWBO
870820,Ms.,Martha,G,Washington,F,martha.washington@aol.com,Todd Washington,Carolyn Washington,Reed,3/28/1991,...,416-67-0297,405-945-0242,Nardin,Kay,Nardin,OK,74646,South,mgwashington,ju$7I]eH8{-
806955,Mr.,William,G,Hernandez,M,william.hernandez@rediffmail.com,Peter Hernandez,Deborah Hernandez,Jones,7/22/1967,...,629-31-9010,239-276-0532,Mary Esther,Okaloosa,Mary Esther,FL,32569,South,wghernandez,BRB3DFywgZZ4
325319,Hon.,Carolyn,F,Price,F,carolyn.price@yahoo.com,Kevin Price,Patricia Price,Williams,5/30/1976,...,512-33-3410,217-409-4338,Wheaton,DuPage,Wheaton,IL,60189,Midwest,cfprice,K*$u@MAoH
623253,Mrs.,Ruby,Q,Stewart,F,ruby.stewart@gmail.com,Paul Stewart,Paula Stewart,Jackson,10/23/1968,...,007-11-1727,218-445-2369,Margie,Koochiching,Margie,MN,56658,Midwest,rqstewart,C\RjCUPJd[Ld]
225925,Mr.,Paul,D,Cooper,M,paul.cooper@gmail.com,Nicholas Cooper,Helen Cooper,Hill,8/12/1991,...,613-87-0084,210-984-4722,Glidden,Colorado,Glidden,TX,78943,South,pdcooper,hW%ZbJ\fZ-
761821,Mr.,Ernest,G,Washington,M,ernest.washington@msn.com,Johnny Washington,Shirley Washington,Harris,10/28/1984,...,178-86-1878,212-596-1659,Saranac Lake,Franklin,Saranac Lake,NY,12983,Northeast,egwashington,B\Wb^6W-
400173,Ms.,Dorothy,K,Edwards,F,dorothy.edwards@hotmail.co.uk,Dennis Edwards,Betty Edwards,Howard,1/19/1984,...,543-81-2192,215-902-6888,Philadelphia,Philadelphia,Philadelphia,PA,19132,Northeast,dkedwards,VWEIm3YKm65|D
802554,Mr.,Ryan,V,Alexander,M,ryan.alexander@shell.com,William Alexander,Elizabeth Alexander,Gray,8/1/1993,...,017-94-7572,225-395-3347,Jarreau,Pointe Coupee,Jarreau,LA,70749,South,rvalexander,3N3]VFZx?MaC{
476433,Ms.,Lillian,N,Mitchell,F,lillian.mitchell@shaw.ca,Harry Mitchell,Marie Mitchell,Murphy,10/23/1974,...,505-59-3960,316-876-1484,Wichita,Sedgwick,Wichita,KS,67214,Midwest,lnmitchell,Ty/b@+;f
533952,Ms.,Kelly,R,Adams,F,kelly.adams@bp.com,Eric Adams,Janice Adams,Brooks,5/23/1975,...,474-55-8101,405-418-0037,Meno,Major,Meno,OK,73760,South,kradams,OfK?#J|7&W\1T
623929,Prof.,Jimmy,R,Howard,M,jimmy.howard@yahoo.com,Nicholas Howard,Patricia Howard,Hayes,11/27/1966,...,610-87-0251,212-855-9316,Oriskany,Oneida,Oriskany,NY,13424,Northeast,jrhoward,0v+|SfA0Xv+Pf%
844177,Ms.,Margaret,T,Allen,F,margaret.allen@gmail.com,Michael Allen,Karen Allen,Morris,9/8/1981,...,137-25-8468,216-697-6987,Richmond Dale,Ross,Richmond Dale,OH,45673,Midwest,mtallen,oC1OHlW%Sk@%6
212893,Ms.,Janet,Y,Henderson,F,janet.henderson@ntlworld.com,Jerry Henderson,Julie Henderson,Cooper,12/24/1979,...,018-94-7340,239-769-6347,Miami,Miami-Dade,Miami,FL,33166,South,jyhenderson,g-oCs-L/za
185032,Mr.,Eugene,D,Perez,M,eugene.perez@exxonmobil.com,Jimmy Perez,Lois Perez,Hall,10/6/1979,...,192-86-6418,262-472-7112,Racine,Racine,Racine,WI,53490,Midwest,edperez,g]SJn<W_/#
867084,Ms.,Deborah,E,Smith,F,deborah.smith@yahoo.com,Richard Smith,Diana Smith,Bennett,10/31/1977,...,173-86-6203,907-279-8694,Atqasuk,North Slope,Atqasuk,AK,99791,West,desmith,C[WxHsB9
969964,Hon.,Janice,S,Parker,F,janice.parker@yahoo.com,Paul Parker,Alice Parker,Perez,1/12/1980,...,733-26-1976,314-842-5984,Whiteman Air Force Base,Johnson,Whiteman Air Force Base,MO,65305,Midwest,jsparker,8wUbWmuib
158666,Ms.,Rebecca,A,Stewart,F,rebecca.stewart@gmail.com,Roger Stewart,Carol Stewart,Cox,8/11/1961,...,202-84-8294,209-233-7631,Independence,Inyo,Independence,CA,93526,West,rastewart,7ONuh3Zi^z#32r
489424,Dr.,Phillip,F,White,M,phillip.white@gmail.com,Harold White,Frances White,Carter,3/4/1978,...,447-27-9469,503-668-6592,Mapleton,Lane,Mapleton,OR,97453,West,pfwhite,8<Mc.5]eu.*C8.
639892,Mr.,Jose,K,Hill,M,jose.hill@hotmail.com,Carlos Hill,Anna Hill,Hayes,10/8/1994,...,171-86-3825,228-245-5000,Biloxi,Harrison,Biloxi,MS,39532,South,jkhill,a_!SKb6h3?w*Mad
704709,Dr.,Harold,Z,Nelson,M,harold.nelson@gmail.com,Richard Nelson,Pamela Nelson,Smith,12/24/1984,...,456-99-2066,217-555-9216,Carol Stream,Carol Stream,Carol Stream,IL,60351,Midwest,hznelson,z/-hEz3&^q5
461593,Ms.,Nicole,O,Ward,F,nicole.ward@yahoo.com,Ralph Ward,Julia Ward,Lee,12/12/1964,...,196-84-2551,231-761-7861,Detroit,Wayne,Detroit,MI,48278,Midwest,noward,AUe6s0@:@]A3Ze
392491,Mrs.,Theresa,R,Murphy,F,theresa.murphy@gmail.com,George Murphy,Jacqueline Murphy,Peterson,12/30/1987,...,249-99-8801,907-356-1555,Mc Grath,Yukon-Koyukuk (CA),Mc Grath,AK,99627,West,trmurphy,V]PGw>4h9
495141,Drs.,Tammy,B,Young,F,tammy.young@comcast.net,Andrew Young,Brenda Young,Robinson,3/22/1979,...,771-02-7046,231-290-3075,Alma,Gratiot,Alma,MI,48801,Midwest,tbyoung,d6!&xu12A1H^i![

### 10. Display the columns from 10 to 12 for first 50 rows of the dataset

In [111]:
# YOUR CODE HERE
dataset.iloc[:50, 10:12]

       Time of Birth  Age in Yrs.
Emp ID
677509   02:31:49 AM        36.36
940761   12:13:27 PM        47.02
428945   10:45:36 AM        54.15
408351   02:18:45 AM        39.67
193819   05:41:11 PM        40.31
499687   01:12:41 PM        34.86
539712   08:56:32 PM        22.14
380086   10:39:33 AM        59.12
477616   04:38:47 PM        58.18
162402   03:59:26 AM        29.73
231469   02:15:50 AM        42.50
153989   04:33:57 PM        22.21
386158   06:04:57 PM        45.45
301576   12:23:21 AM        21.10
441771   06:59:29 PM        59.47
528509   08:11:15 PM        50.97
912990   03:47:46 AM        47.23
214352   09:20:52 AM        24.66
890290   09:24:39 PM        58.08
622406   08:28:14 PM        49.85
979607   09:28:36 AM        22.64
969580   01:37:48 AM        23.77
426038   11:14:04 AM        44.72
388642   01:08:30 PM        37.27
560455   12:52:37 PM        59.42
477253   02:57:12 AM        28.02
263480   07:24:56 PM        27.59
683826   03:46:56 PM        48.09
474599   11:07:50 PM        42.39
335732   03:15:30 AM        53.68
329752   12:00:55 AM        36.24
893212   04:20:22 AM        36.14
621833   12:23:15 AM        23.92
456747   12:13:48 AM        26.24
278556   06:30:29 AM        24.02
333476   01:45:41 AM        49.69
218791   03:42:13 AM        48.49
134841   05:05:35 AM        33.89
726264   02:18:24 PM        43.63
766610   02:54:56 AM        55.97
923947   12:02:11 AM        55.14
227922   02:43:26 AM        35.02
265813   02:25:34 PM        32.58
247137   09:46:54 PM        38.65
407061   05:45:35 AM        52.99
226714   02:51:17 AM        33.73
702813   10:28:03 PM        27.73
524896   05:49:46 AM        56.38
363065   03:06:00 AM        23.73
879753   03:43:43 AM        21.30

### 11. Display the information of the employees who have  joined in Quarter 1 and 4.

In [112]:
dataset['Quarter of Joining']

Emp ID
677509    Q4
940761    Q3
428945    Q3
408351    Q2
193819    Q3
          ..
639892    Q3
704709    Q3
461593    Q1
392491    Q3
495141    Q2
Name: Quarter of Joining, Length: 100, dtype: object

In [113]:
# YOUR CODE HERE
data = dataset[dataset['Quarter of Joining'].isin(["Q1","Q4"])]

In [114]:
data['Quarter of Joining']

Emp ID
677509    Q4
380086    Q1
162402    Q1
153989    Q1
386158    Q4
441771    Q4
214352    Q1
890290    Q1
969580    Q1
426038    Q4
477253    Q4
263480    Q1
683826    Q1
474599    Q4
333476    Q4
407061    Q1
702813    Q1
524896    Q4
363065    Q4
958326    Q1
447813    Q4
525955    Q1
818384    Q4
971640    Q4
253573    Q1
904898    Q1
491943    Q1
241882    Q1
940922    Q1
917395    Q4
293459    Q1
732017    Q1
478003    Q1
870820    Q1
806955    Q1
325319    Q4
761821    Q1
400173    Q4
476433    Q4
623929    Q4
212893    Q4
185032    Q4
867084    Q1
489424    Q1
461593    Q1
Name: Quarter of Joining, dtype: object

In [115]:
data1 = dataset[(dataset['Quarter of Joining'] == 'Q1') | (dataset['Quarter of Joining'] == 'Q4')]

In [116]:
data1['Quarter of Joining']

Emp ID
677509    Q4
380086    Q1
162402    Q1
153989    Q1
386158    Q4
441771    Q4
214352    Q1
890290    Q1
969580    Q1
426038    Q4
477253    Q4
263480    Q1
683826    Q1
474599    Q4
333476    Q4
407061    Q1
702813    Q1
524896    Q4
363065    Q4
958326    Q1
447813    Q4
525955    Q1
818384    Q4
971640    Q4
253573    Q1
904898    Q1
491943    Q1
241882    Q1
940922    Q1
917395    Q4
293459    Q1
732017    Q1
478003    Q1
870820    Q1
806955    Q1
325319    Q4
761821    Q1
400173    Q4
476433    Q4
623929    Q4
212893    Q4
185032    Q4
867084    Q1
489424    Q1
461593    Q1
Name: Quarter of Joining, dtype: object

### 12. How many people are from the southern region joined on Monday?

In [117]:
# YOUR CODE HERE
data['Region'].unique()

array(['West', 'Midwest', 'South', 'Northeast'], dtype=object)

In [118]:
data['DOW of Joining'].unique()

array(['Monday', 'Friday', 'Thursday', 'Tuesday', 'Wednesday', 'Sunday',
       'Saturday'], dtype=object)

In [119]:
len(dataset[(dataset['Region'] == 'South') & (dataset['DOW of Joining'] == 'Monday')])

9

### 13. Display the information of the employees who have more than 13 years experience in the company

In [120]:
# YOUR CODE HERE
dataset[dataset['Year of Joining']>13]

,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Date of Birth,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
Emp ID,,,,,,,,,,,,,,,,,,,,,
677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,3/29/1981,...,467-99-4677,303-572-8492,Denver,Denver,Denver,CO,80224,West,lhwalker,DCa}.T}X:v?NP
940761,Ms.,Brenda,S,Robinson,F,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry,7/31/1970,...,537-71-4566,225-945-4954,Stonewall,De Soto,Stonewall,LA,71078,South,bsrobinson,TCo\j#Zg;SQ~o
428945,Dr.,Joe,W,Robinson,M,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor,6/16/1963,...,025-92-3584,219-904-2161,Michigantown,Clinton,Michigantown,IN,46057,Midwest,jwrobinson,GO4$J8MiEh[A
408351,Drs.,Diane,I,Evans,F,diane.evans@yahoo.com,Jason Evans,Michelle Evans,Allen,12/4/1977,...,314-35-9851,215-793-6791,Hydetown,Crawford,Hydetown,PA,16328,Northeast,dievans,0gGRtp1HfL<r5
193819,Mr.,Benjamin,R,Russell,M,benjamin.russell@charter.net,Gregory Russell,Elizabeth Russell,Nelson,4/17/1977,...,121-98-7248,262-404-2252,Fremont,Waupaca,Fremont,WI,54940,Midwest,brrussell,Rd<Y8cp!@R;*%F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639892,Mr.,Jose,K,Hill,M,jose.hill@hotmail.com,Carlos Hill,Anna Hill,Hayes,10/8/1994,...,171-86-3825,228-245-5000,Biloxi,Harrison,Biloxi,MS,39532,South,jkhill,a_!SKb6h3?w*Mad
704709,Dr.,Harold,Z,Nelson,M,harold.nelson@gmail.com,Richard Nelson,Pamela Nelson,Smith,12/24/1984,...,456-99-2066,217-555-9216,Carol Stream,Carol Stream,Carol Stream,IL,60351,Midwest,hznelson,z/-hEz3&^q5
461593,Ms.,Nicole,O,Ward,F,nicole.ward@yahoo.com,Ralph Ward,Julia Ward,Lee,12/12/1964,...,196-84-2551,231-761-7861,Detroit,Wayne,Detroit,MI,48278,Midwest,noward,AUe6s0@:@]A3Ze
392491,Mrs.,Theresa,R,Murphy,F,theresa.murphy@gmail.com,George Murphy,Jacqueline Murphy,Peterson,12/30/1987,...,249-99-8801,907-356-1555,Mc Grath,Yukon-Koyukuk (CA),Mc Grath,AK,99627,West,trmurphy,V]PGw>4h9
495141,Drs.,Tammy,B,Young,F,tammy.young@comcast.net,Andrew Young,Brenda Young,Robinson,3/22/1979,...,771-02-7046,231-290-3075,Alma,Gratiot,Alma,MI,48801,Midwest,tbyoung,d6!&xu12A1H^i![

### 14. There is a lot of redundant data. For example, the information in the below columns is also available in the *Date of Joining* column.

  1.   month of Joining
  2.   year of Joining
  3.   Day of Joining 

There could be other such columns containing redundant data. Please identify such columns and take appropriate action. 


You can refer to the below link :

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [121]:
# YOUR CODE HERE
dataset.duplicated().sum()

0

### 15. Remove "%" sign from the "Last % Hike" column values of the dataset

you can refer the below link :

https://stackoverflow.com/questions/52850192/python-extract-last-letter-of-a-string-from-a-pandas-column

In [122]:
# YOUR CODE HERE
dataset.columns

Index(['Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender',
       'E Mail', 'Father's Name', 'Mother's Name', 'Mother's Maiden Name',
       'Date of Birth', 'Time of Birth', 'Age in Yrs.', 'Weight in Kgs.',
       'Date of Joining', 'Quarter of Joining', 'Half of Joining',
       'Year of Joining', 'Month of Joining', 'Month Name of Joining',
       'Short Month', 'Day of Joining', 'DOW of Joining', 'Short DOW',
       'Age in Company (Years)', 'Salary', 'Last % Hike', 'SSN', 'Phone No. ',
       'Place Name', 'County', 'City', 'State', 'Zip', 'Region', 'User Name',
       'Password'],
      dtype='object')

In [123]:
dataset.rename(columns={"Last % Hike" : "Last Hike"}, inplace=True)

In [124]:
# dataset['Last Hike'] = dataset['Last Hike'].str.strip.str(-1)
dataset['Last Hike'] = [x.strip('%') for x in dataset['Last Hike']]

In [125]:
dataset['Last Hike']

Emp ID
677509    21
940761    27
428945    16
408351     1
193819    13
          ..
639892    15
704709     0
461593    12
392491    11
495141     7
Name: Last Hike, Length: 100, dtype: object

### 16. How many Female employees got hike more than 20% ?

In [126]:
dataset['Last Hike']

Emp ID
677509    21
940761    27
428945    16
408351     1
193819    13
          ..
639892    15
704709     0
461593    12
392491    11
495141     7
Name: Last Hike, Length: 100, dtype: object

In [127]:
# YOUR CODE HERE
len(dataset[(dataset['Last Hike']>'20')])

58

### Summary

To know more about Pandas, you can refer below link :

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

## Please answer the questions below to complete the experiment:

In [ ]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [ ]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "" #@param {type:"string"}

In [ ]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "" #@param ["","Yes", "No"]

In [ ]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [ ]:
#@title Run this cell to submit your notebook  { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id =return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")